body {
  background-color: #232425;
  color: #f0f0f0;
  font-size: 20px;
  padding: 0 3rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover {
  color: #c790f1;
}

.hint {
  color: #c790f1;
  font-size: 2rem;
}

#linkGroup {
  margin: 3rem 1rem;
}

.linkBox {
  padding: 1rem;
  margin: 0 2rem;
  text-decoration: underline;
  text-decoration-color: #f0f0f0;
  font-size: 1.4rem;
}

/* Company Page */

#companyInfo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20%;
}

.infoBlock {
  background-color: #f0f0f0;
  color: #232425;
  padding: 2rem;
  margin: 1rem 3rem;
  width: 20%;
}

.infoHeader {
  color: #c790f1;
  font-size: 1.4rem;
}

.divider {
  background-color: #232425;
  height: 0.1rem;
  display: block;
  margin-bottom: 2rem;
}

/* Mobile Responsiveness */

@media (min-width: 768px) and (max-width: 1024px) {
  #companyInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .infoBlock {
    background-color: #f0f0f0;
    color: #232425;
    padding: 2rem;
    margin: 1rem;
    width: 80vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #companyInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .infoBlock {
    background-color: #f0f0f0;
    color: #232425;
    padding: 2rem;
    margin: 1rem;
    width: 80vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #companyInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .infoBlock {
    background-color: #f0f0f0;
    color: #232425;
    padding: 2rem;
    margin: 1rem;
    width: 80vw;
  }
}

@media (min-width: 280px) and (max-height: 700px) {
  #companyInfo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
  }

  .infoBlock {
    background-color: #f0f0f0;
    color: #232425;
    padding: 2rem;
    margin: 1rem;
    width: 80vw;
  }
}
